/* Navbar.css */
.navbar-custom {
    background-color: rgba(250, 140, 36);
    border-bottom: 1px solid rgba(250, 140, 36, 0.2); /* Ligeramente más oscuro para el borde */
  }
  
  .navbar-custom .nav-link {
    color: #333; /* Color del texto de los enlaces */
}

.navbar-custom .nav-link:hover {
    color: #000; /* Color del texto al pasar el ratón sobre los enlaces */
}

.navbar-custom .navbar-brand img {
    height: 90px; /* Ajusta la altura según sea necesario */
    width: auto; /* Mantiene la proporción del logo */
}

/* Asegura que el navbar esté centrado */
.navbar-custom .container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-custom .navbar-collapse {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar-custom .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}